{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block nav-ceremony%} <li><a class="active-link" href="{% url emilyandblayne.views.ceremony %}">ceremony & reception</a></li>{% endblock %}

{% block title %}Home{% endblock %}
{% block nav-links %}
{{ block.super }}
{% endblock %}
{% block body-content %}
<div class="row-fluid">
  <div class="row-fluid">
    <div class="span10 offset1" style="margin-top:20px;">
      <p>The ceremony and reception will be both held at the <a href="http://www.whotelaustin.com/">W Austin</a> on May 25th.</p>
      <p> <b>Schedule:</b></p>
    <div style="font-size:10px; line-height:75%; margin-top:5px;">
      <p>4:30pm Seating for the ceremony opens</p>
      <p>5:00pm Ceremony begins</p>
      <p>5:45-6:30pm Cocktail hour and photos</p>
      <p>7:00pm Dinner</p>
      <p>8:00pm Open floor for speeches</p>
      <p>8:30-12:30pm Dancing and festivities</p>
      <p>12:30-2:00am+ 6th-Street fun for the young and young-at-heart</p>
    </div>
  </div>
  </div>
  <div class="row-fluid">
    <img class="span10 offset1 space displayed" src="{{ STATIC_URL }}img/w-ceremony.png" alt=""  />
  </div>
  <div class="row-fluid">
    <img class="span10 offset1 space displayed" src="{{ STATIC_URL }}img/reception1.jpg" alt=""  />
  </div>
  <div class="row-fluid">
    <img class="span10 offset1 space displayed" src="{{ STATIC_URL }}img/reception2.jpg" alt=""  />
  </div>
  
</div>
{% endblock %}

