{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block nav-our-registries %} <li><a class="active-link" href="{% url emilyandblayne.views.our_registries %}">our registries</a></li>{% endblock %}

{% block nav-links %}
{{ block.super }}
{% endblock %}

{% block body-content %}
<div class="row-fluid">
 <div class="row-fluid">
    <a href="http://www.williams-sonoma.com/registry/3137242/registry-list.html"><img class="span10 offset1 space displayed" src="{{ STATIC_URL }}img/williams-sonoma.png" alt=""  /></a>
  </div>
  <div class="row-fluid">
    <a href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4949677">
      <img class="span10 offset1 space displayed" src="{{ STATIC_URL }}img/crate.png" alt=""  />
    </a>
  </div>
  <div class="row-fluid">
    <a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=2YMC90K2NY6L3&type=wedding">
      <img class="span10 offset1 space displayed" src="{{ STATIC_URL }}img/amazon.png" alt=""  />
    </a>
  </div>
</div>
{% endblock %}

