{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ form.media }}

{% endblock %}

{% block nav-wedding-party%} <li><a class="active-link" href="{% url emilyandblayne.views.wedding_party %}">wedding party</a></li>{% endblock %}

{% block nav-links %}
{{ block.super }}
{% endblock %}
{% block body-content %}
<div class="row-fluid no-space" style="background-color: #9FA1A3;">
  <div class="row-fluid">
    <div class="span6" style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Maid of Honor</h4>
      <h4>Sarah Flockton</h4>
    </div>
    <div class="span6 white-background ">
      <img class="displayed" src="{{ STATIC_URL }}img/sarah.jpg" alt=""  />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 white-background ">
      <img class="displayed" src="{{ STATIC_URL }}img/amy.jpg" alt="" />
    </div>
    <div class="span6 " style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Bridesmaid</h4>
      <h4>Amy Lee Ulmer</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6" style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Bridesmaid</h4>
      <h4>Maggie Graham</h4>
    </div>
    <div class="span6 white-background">
      <img class="displayed" src="{{ STATIC_URL }}img/maggie.jpg" alt="" />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 white-background">
      <img class="displayed" src="{{ STATIC_URL }}img/hilary.jpg" alt="" />
    </div>
    <div class="span6" style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Bridesmaid</h4>
      <h4>Hilary Smith</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6" style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Best Man</h4>
      <h4>David Giese</h4>
    </div>
    <div class="span6 white-background">
      <img class="displayed" src="{{ STATIC_URL }}img/david.jpg" alt="" />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 white-background">
      <img class="displayed" src="{{ STATIC_URL }}img/darren.jpg" alt="" />
    </div>
    <div class="span6" style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Groomsman</h4>
      <h4>Darren Kettlewell</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6" style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Groomsman</h4>
      <h4>Michael Boseovski</h4>
    </div>
     <div class="span6 white-background">
      <img class="displayed" src="{{ STATIC_URL }}img/mike.jpg" alt="" />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 white-background">
      <img class="displayed" src="{{ STATIC_URL }}img/vello.jpg" alt="" />
    </div>
    <div class="span6" style="text-align:center">
      <h4 class="wedding-color" style="margin-top: 100px;">Groomsman</h4>
      <h4>Vello Keelmann</h4>
    </div>
  </div>

</div>
{% endblock %}

